<!DOCTYPE html>
<html lang = "fr"  xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Register | Kandan</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <form th:action="@{/users/save}" method="POST" th:object="${userDto}">
      <input type="text" name="prenom" th:field="*{prenom}" />
      <input type="text" name="nom" th:field="*{nom}" />
      <input type="text" name="email" th:field="*{email}" />
      <input type="password" name="password" th:field="*{password}" />
      <input type="submit" value="S'enregistrez" />
    </form> 
  </body>
</html>