<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Kandan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="/js/drag_drop.js"></script>
</head>
<body>
<header class="bg-emerald-700 py-5 flex justify-center items-center">
    <a href="/">
        <h1 class="text-5xl font-bold text-white ml-3">KANBAN</h1>
    </a>
    <div sec:authorize="isAuthenticated()" class="absolute right-10 bg-white p-3 rounded-xl border-2 border-black">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Déconnexion</button>
        </form>
    </div>
</header>
<div class="bg-slate-500 max-w-screen-lg mt-10 rounded-lg mx-auto text-white my-2">
    <h1 class="text-2xl text-center my-2" th:text="${kanban.nom}"></h1>

  <div class="flex justify-center bg-slate-500 mx-2 rounded">
    <div th:each="column : ${kanban.columns}" class="gap-y-2 basis-1/2 mx-2 my-2 bg-slate-400 rounded" th:classappend="${'order-'+column.order}" th:id="${'column'+column.id}">
        <h2 class="bg-slate-800 px-2 py-1 rounded text-2xl text-center my-2" th:text="${column.nom}"></h2>
        <div class="drag_drop_target flex flex-col gap-1 min-h-[50%]" draggable="false" ondrop="drop(event)" ondragover="dragOver(event)" th:id="${'column'+column.id}">
            Tache :
            <div th:each="task : ${column.tasks}" class="draggable flex" th:classappend="${'order-'+task.order}" th:id="${'task'+task.id}" draggable="true" ondragstart="dragStart(event)" ondragover="dragOver(event)">
                <p class="basis-1/2 bg-slate-600 rounded my-1 text-center" th:text="${task.nom}"></p>
                <span class="basis-1/2 bg-slate-700 rounded my-1 text-center" th:if="${task.user == null}"><p></p></span>
                <span class="basis-1/2 bg-slate-700 rounded my-1 text-center" th:unless="${task.user == null}"><p th:text="${user.nom}"></p></span>
            </div>
        </div>
    </div>
   </div>
</div>
</body>
</html>
